
body {
    background-color: lightgoldenrodyellow;
  
}

.logo {
    background-image: url(../public/forkio-favicon.png);
}


/* .form-group label {
    display: block;
    margin: 0 10px;
} */
/* button[type=submit] {
    margin-right: 20px;
} */