
body {
    background-color: lightgoldenrodyellow;
  
}

input {
    /* font-size: 0.5rem !important;  */
}



/* ol, ul {
    list-style: none;
  } */


/* .form-group label {
    display: block;
    margin: 0 10px;
} */
/* button[type=submit] {
    margin-right: 20px;
} */